
body {
  color: #000000;
  background-color: #455545;
  font-family: "Times New Roman", serif;
  text-align: left
}

a#navigation {
/*   background-image: url(""); */
  margain: 2px;
  padding: 1px;
  position: fixed;
}
